[Desktop Entry]
Encoding=UTF-8
Name=Link to IS25WP064A-JBLE Integrated Silicon Solution (issi), Flash Memory, Serial NOR, 64 Mbit | Farnell
Type=Link
URL=https://uk.farnell.com/integrated-silicon-solution-issi/is25wp064a-jble/flash-memory-64mbit-133mhz-soic/dp/2901152
Icon=text-html
Name[en_GB]=\sIS25WP064A | Farnell
