[Desktop Entry]
Encoding=UTF-8
Name=Link to 124019032112A Amphenol Icc, USB Sealed Connector, USB Type C, USB 3.1 | Farnell
Type=Link
URL=https://uk.farnell.com/amphenol-icc/124019032112a/usb-conn-3-1-type-c-rcpt-24pos/dp/2990007?st=type%20c
Icon=text-html
Name[en_GB]=124019032112A | Farnell
