[Desktop Entry]
Encoding=UTF-8
Name=Link to Lithium Ion Battery - 3.7v 2000mAh : ID 2011 : $12.50 : Adafruit Industries, Unique & fun DIY electronics and kits
Type=Link
URL=https://www.adafruit.com/product/2011#description
Icon=text-html
Name[en_GB]=2000mAh Lipo | Adafruit
