[Desktop Entry]
Encoding=UTF-8
Name=Link to FSUSB30UMX Onsemi, USB Interface, High Speed DPDT USB Switch, USB 2.0 | Farnell
Type=Link
URL=https://uk.farnell.com/on-semiconductor/fsusb30umx/high-speed-dpdt-usb-switch-40to85deg/dp/3368535
Icon=text-html
Name[en_GB]=FSUSB30UMX | Farnell
