[Desktop Entry]
Encoding=UTF-8
Name=Link to IS25WP128F-JBLE Integrated Silicon Solution (issi), Flash Memory, Serial NOR, 128 Mbit | Farnell
Type=Link
URL=https://uk.farnell.com/integrated-silicon-solution-issi/is25wp128f-jble/flash-memory-128mbit-166mhz-soic/dp/2901153
Icon=text-html
Name[en_GB]=IS25WP128F | Farnell
