[Desktop Entry]
Encoding=UTF-8
Name=Link to JST-PH 2-Pin SMT Right Angle Connector : ID 1769 : $0.75 : Adafruit Industries, Unique & fun DIY electronics and kits
Type=Link
URL=https://www.adafruit.com/product/1769
Icon=text-html
Name[en_GB]=JST-PH 2-RA | Adafruit
