[Desktop Entry]
Encoding=UTF-8
Name=Link to LM75BGD,125 Nxp, Temperature Sensor IC, Digital, ± 3°C | Farnell
Type=Link
URL=https://uk.farnell.com/nxp/lm75bgd-125/ic-temp-sensor-digital-8-uxson/dp/1854080?st=lm75b
Icon=text-html
Name[en_GB]=LM75BGD,125 | Farnell
