[Desktop Entry]
Encoding=UTF-8
Name=Link to MAX17048G+T10 Maxim Integrated / Analog Devices, Battery Fuel Gauge, Li-Ion, 2.5V to 4.5V Supply | Farnell
Type=Link
URL=https://uk.farnell.com/maxim-integrated-products/max17048g-t10/batt-fuel-gauge-40-to-85deg-c/dp/2909721?ost=max17048g
Icon=text-html
Name[en_GB]=MAX17048G | Farnell
