[Desktop Entry]
Encoding=UTF-8
Name=Link to MAX77751CEFG+ Maxim Integrated / Analog Devices, Battery Charger, Single Cell of Li-Ion, Li-Pol Battery | Farnell
Type=Link
URL=https://uk.farnell.com/maxim-integrated-products/max77751cefg/batt-charger-li-ion-pol-4-2v-85deg/dp/3536071
Icon=text-html
Name[en_GB]=\sMAX77751CEFG+ | Farnell
