[Desktop Entry]
Encoding=UTF-8
Name=Link to MEM2067-02-180-00-A Gct (global Connector Technology), Memory Card Connector, MicroSD, Hinged | Farnell
Type=Link
URL=https://uk.farnell.com/gct-global-connector-technology/mem2067-02-180-00-a/memory-card-connector-8pos/dp/2668480?st=memory%20card
Icon=text-html
Name[en_GB]=MEM2067-02-180-00-A | Farnell
