[Desktop Entry]
Encoding=UTF-8
Name=Link to MS563702BA03-50 Te Connectivity Sensors, Pressure Sensor, Barometric, 300 mbar | Farnell
Type=Link
URL=https://uk.farnell.com/sensor-solutions-te-connectivity/ms563702ba03-50/sensor-barometric-0-01-1-2bar/dp/2362663?st=pressure%20sensor
Icon=text-html
Name[en_GB]=MS5637 | Farnell
