[Desktop Entry]
Encoding=UTF-8
Name=Link to NFT-03C Star Micronics, AUDIO TRANSDUCER, 74DB, 10CM | Farnell
Type=Link
URL=https://uk.farnell.com/star-micronics/nft-03c/audio-transducer-74db-10cm-smd/dp/1299755
Icon=text-html
Name[en_GB]=NFT-03C | Farnell
